<app-navbar></app-navbar>
<div class="chatroom-container">
  <div class="chatroom-body">
    <div class="user-list">
      <app-user-status [me]="me" [users]="users" [presence]="presence" [selectedUser]="selectedUser"
        (selectUser)="onSelectUser($event)">
      </app-user-status>
    </div>

    <div class="chat-window">
      @if (selectedUser && me) {
        <app-chat-box [me]="me" [selectedUser]="selectedUser" [online]="isOnline(selectedUser)"
          [lastSeen]="presence.lastSeen[selectedUser.id]">
        </app-chat-box>
      } @else {
        <div class="no-user">
          <mat-icon>chat_bubble_outline</mat-icon>
          <p>Select a contact to start chatting</p>
        </div>
      }
    </div>
  </div>
</div>
